############################
#### TRUQUES OU CANTRIPS ###
############################

Spell 1
{
    SpellId        1
    Name        Criar comida
    Type        Sangria
    SpellScript    :spells:sangria/createfood

    Target         Self
    Range          Distancia    
    Circle        0

    Desc           Voce cria uma comida simples.
    FlavorText    Xali'Ath provê para os Orcs de valor.

    Difficulty    5
    Mana        5
    Delay        20
    Cycles        1
    PowerWords  Ymuk
}

Spell 2
{
    SpellId        2
    Name        Dardo Igneo
    Type        Sangria
    SpellScript    :spells:sangria/firebolt

    Target         Unico
    Range          Distancia    
    Circle        0

    Desc           Um dardo de fogo veloz que causa dano de fogo.
    FlavorText    E as brasas de Adar Kor Doom se converteram em dardos, para que os Aklats não sejam mais.
    Difficulty    5
    Mana        5
    Delay        20
    Cycles        1
    PowerWords  Khor
}

Spell 3
{
    SpellId        3
    Name        Globo de luz
    Type        Sangria
    SpellScript    :spells:sangria/lightglobe

    Target         Self
    Range          Distancia    
    Circle        0

    Desc           Voce cria uma esfera de luz que distrai seus inimigos.
    FlavorText    Um ukshar deve saber a hora de sair da linha de frente para que os demais se provem.

    Difficulty    5
    Mana        5
    Delay        20
    Cycles        1
    PowerWords  Luks
}

Spell 4
{
    SpellId        4
    Name        Levitar
    Type        Sangria
    SpellScript    :spells:sangria/levitateobjects

    Target         Unico
    Range          Distancia    
    Circle        0

    Desc           Faz objetos levitarem e se moverem no ar.
    FlavorText    Você comanda os espíritos elementais a erguerem-se, tornando os objetos suscetíveis à dança etérea do vento.

    Difficulty    5
    Mana        5
    Delay        20
    Cycles        1
    PowerWords  Kald
}

Spell 5
{
	SpellId		5
	Name		Manter Fogueira
    Type        Sangria
	SpellScript	:spells:sangria/keepfire

	Target         Unico
	Range          Distancia
    Circle         0
	Desc           Faz uma fogueira ficar acessa por mais tempo, tornando o acampamento mais confortavel.
    FlavorText    O crepitar das chamas ressoa como uma melodia de repouso, acalmando os espíritos cansados dos orcs da horda.

	Difficulty	5
	Mana		5
	Delay		1000
    Cycles        1
    PowerWords  Surdk
}

Spell 6
{
    SpellId        6
    Name        Raio de Gelo
    Type        Sangria
    SpellScript    :spells:sangria/rayfrost

    Target         Unico
    Range          Distancia    
    Circle        0

    Desc           Raio congelante que causa dano de gelo.
    FlavorText    Ao convocar os espíritos do ar, você lança um raio de gelo que corta como o frescor do vento gélido.

    Difficulty    5
    Mana        5
    Delay        20
    Cycles        1
    PowerWords  Don
}

Spell 7
{
    SpellId        7
    Name        Visao Noturna
    Type        Sangria
    SpellScript    :spells:sangria/nightvision

    Target         Self
    Range          Distancia    
    Circle        0

    Desc           Permite enxergar claramente no escuro.
    FlavorText    Na escuridão, meus olhos brilharam com os segredos ocultos revelados pelos espíritos que vieram antes de mim.

    Difficulty    5
    Mana        5
    Delay        20
    Cycles        1
    PowerWords  Ghor
}

Spell 8
{
    SpellId        8
    Name        Voz Fantasma
    Type        Sangria
    SpellScript    :spells:sangria/ghostvoice

    Target         Unico
    Range          Distancia    
    Circle        0

    Desc           Voce consegue criar sons e vozes fantasmagoricas.
    FlavorText     As palavras etéreas sussurradas se tornam eco de sombras, confundindo os ouvidos dos incautos.

    Difficulty    5
    Mana        5
    Delay        20
    Cycles        1
    PowerWords  Ehk
}

############################
#### PRIMEIRO CÍRCULO ######
############################

Spell 9
{
	SpellId		9
	Name		Enfraquecer
	SpellScript	:spells:mage/enfraquecer

	Target         Unico
	Range          Distancia
	Desc           Deixa o alvo fisicamente mais fraco.
    FlavorText   O vigor do corpo é drenado, deixando-o debilitado e frágil, como se a própria essência da força escorresse pelas mãos do destino.

	Circle		1
	Difficulty	10
	Mana		15
	Delay		1000
	PowerWords	Baruk
}

Spell 10
{
	SpellId		10
	Name		Circulo de Pedras
	SpellScript	:spells:mage/circulopedras

	Target		Self
	Range		Unico
	Desc		Cria um circulo de pedras ao redor do mago.
	Circle		1

    FlavorText  As rochas, carregadas de memórias dos antepassados, através de um rito ancestral, formam um círculo de proteção.

	Difficulty	10
	Mana		15
	Delay		2000
	PowerWords	Sten
}

Spell 11
{
	SpellId 11
	Name	Cura Leve
	SpellScript  :spells:priest/curaleve
	Type		Priest
	Circle		1

	Target 	Unico
	Range 	Distancia
	Desc	Cura ferimentos leves do alvo.
    FlavorText  Xali'ath lambe suas feridas, deixando-o pronto para o combate novamente.

    PowerWords  Rhumar

	Difficulty 		10
	Mana		15
	Delay		800
	Cycles		3
}

Spell 12
{
	SpellId		12
	Name		Despertar
	SpellScript	:spells:mage/despertar
	Circle		1
	Target         Unico
	Range          Distancia
	Desc           Acorda o alvo de um desmaio.
    FlavorText  O descanso só começa quando a batalha  termina. Erga os teus, ukshar. Convoque-os para a luta!

	Difficulty	10
	Mana		15
	Delay		1000
	PowerWords	Drukhar

	RegCost		Ginseng	2
}

Spell 13
{
	SpellId		13
	Name		Lama
	SpellScript	:spells:mage/grease

	Target         Unico
	Range          Distancia
	Desc           Voce cria um terreno que deixa lento todos que sao afetados
	Circle		1

	Difficulty	10
	Mana		15
	Delay		1000
	PowerWords	Luhkor
    FlavorText  As areias movediças de Adar Kor Doom tomam forma mais uma vez, os espíritos manipulam a terra.
}

Spell 14
{
	SpellId		14
	Name		Observar
	SpellScript	:spells:mage/telepatia

	Target         Unico
	Range          Distancia
	Desc           Permite o mago obter informações precisas sobre o alvo.
	Circle		1
    FlavorText  A sabedoria xamânica vem da observação e interpretação. Os aklats possuem fraquezas, encontre-as!

	Difficulty	10
	Mana		15
	Delay		1000
	PowerWords	Uki

	RegCost		Garlic 	1
}

Spell 15
{
	SpellId		15
	Name		Resistencia ao Fogo
	SpellScript	:spells:mage/resistenciafogo

	Target         Unico
	Range          Distancia
	Desc           O alvo fica mais resistente ao fogo.
    FlavorText     Os espíritos sopram em favor da horda. Os ventos apaziguam os dias abrasivos em Adar Kor Doom.

	Circle		1
	Difficulty	10
	Mana		15
	Delay		1000
	PowerWords	Arrk
}

Spell 16
{
	SpellId		16
	Name		Resistencia ao Frio
	SpellScript	:spells:mage/resistenciafrio

	Target         Unico
	Range          Distancia
	Desc           O alvo nao sente os efeitos do frio.
	Circle		1

	Difficulty	10
	Mana		15
	Delay		1000

	PowerWords	Okpor
    FlavorText     Os espíritos amenizam o clima, convertendo o gelo num brando sopro gelado.

}

Spell 17
{
	SpellId		17
	Name		Resistencia a Energia
	SpellScript	:spells:mage/resistenciaenergia
	Circle		1
	Target         Unico
	Range          Distancia
	Desc           O alvo fica mais resistente contra energia.

	Difficulty	10
	Mana		15
	Delay		1000
	PowerWords	Shukar

    FlavorText     Os espiritos da tempestade absorvem parte do impacto eletrico que afetariam o alvo.
}

############################
#### SEGUNDO CÍRCULO ######
############################

Spell 18
{
	SpellId		18
	Name		Nutrir o corpo
	SpellScript	:spells:druid/Ent2
	Circle		2
	Target         Unico
	Range          Distancia
	Desc           Xali'Ath provê. Você cria alimentos capazes de recuperar seu hp.
    FlavorText     Você molda alimentos da própria essência da natureza. Frutas suculentas, ervas revitalizantes e águas puras se materializam para nutrir seu corpo.
    

	Difficulty	30
	Mana		25
	Delay		2000

	PowerWords	Turkor
}

Spell 19
{
	SpellId		19
	Name		Enraizar
	SpellScript	:spells:mage/enraizar

	Target         Unico
	Range          Distancia
	Desc           Você conjura plantas que envolvem o oponente, imobilizando-o.
	Circle		2

	Difficulty	30
	Mana		25
	Delay		1000
	PowerWords	Troguk
    FlavorText  Você evoca plantas retorcidas e espinhos enraizados, elas serpenteiam como mãos esqueléticas, envolvendo cruelmente o oponente em um abraço apertado.
}

Spell 20
{
	SpellId		20
	Name		Forca do Touro
	SpellScript	:spells:mage/forca

	Target         Unico
	Range          Distancia
	Desc           Aumenta a forca do alvo.
	Circle		2

	Difficulty	30
	Mana		25
	Delay		1000
	PowerWords	Strok
    FlavorText  Uma aura de força bruta envolve o alvo. A energia do touro selvagem infunde os músculos, ampliando sua força física e poder.
}

Spell 21
{
	SpellId		21
	Name		Protecao Contra a Morte
	SpellScript	:spells:mage/protecaomorte
	Type		Priest
	Circle		2
	Target         Unico
	Range          Distancia
	Desc           O alvo dessa magia nao corre risco de morrer caso desmaie.
	Difficulty	30
	Mana		25
	Delay		1000
	Cycles		1
    PowerWords	Morkus
    FlavorText  Uma barreira espiritual envolve o alvo, protegendo-o da lâmina fria da Morte.
}

############################
#### TERCEIRO CÍRCULO ######
############################

#Spell 22
#{
#	SpellId		22
#	Name		Arma Sagrada
#	SpellScript	:spells:mage/armasagrada

#	Target         Unico
#	Range          Distancia
#	Desc           Torna uma arma sagrada, fazendo com que seu portador derrote quem se opoe contra ele.
#	Circle		3

#	Difficulty	50
#	Mana		35
#	Delay		1000
#	PowerWords	Shak Ohr
#    FlavorText  Com cânticos ancestrais e o pulsar dos tambores de guerra, a arma escolhida é imbuida com poder xamânico das trevas. Seu portador se torna a encarnação da guerra ancestral.
#}

Spell 23
{
	SpellId 23
	Name	Cura Grave
	SpellScript  :spells:priest/curagrave
	Type		Shaman
	Circle		3

	Target 	Unico
	Range 	Distancia
    Desc    Cura todos numa area de ate 3 tiles do caster.
	PowerWords	Rhamur Oruk

	Difficulty 		50
	Mana		35
	Delay		800
	Cycles		5
    FlavorText   Energias ancestrais e espirituais se entrelaçam para curar ferimentos profundos, restaurando não apenas o corpo, mas também o espírito.
}

Spell 24
{
	SpellId		24
	Name		Intimidar
	SpellScript	:spells:mage/pacifismo

	Target         Unico
	Range          Distancia
	Desc           O alvo desta magia passa a causar menos danos no combate.
	Circle		3
	Difficulty	50
	Mana		35
	Delay		1000
	PowerWords	Kraigarr Abuk
    FlavorText  Uma sombra de temor envolve o alvo, minando sua força e coragem. Cada golpe desferido pelo alvo torna-se hesitante e enfraquecido.
}

Spell 25
{
	SpellId		25
	Name		Rajada de Vento
	SpellScript	:spells:mage/rajadavento

	Target         Unico
	Range          Distancia
	Desc           Uma rajada de vento dificulta o movimento do alvo.
	Circle		3

	Difficulty	50
	Mana		35
	Delay		1000
    PowerWords  Oktar Ogar
    FlavorText  Invocando as bênçãos dos espíritos, Oktar Ogar é entoado, criando uma Rajada de Vento. A dança dos ventos desafia a mobilidade do adversário.  
}

Spell 26
{
	SpellId		26
	Name		Pele Aspera
	SpellScript	:spells:mage/protecao

	Target         Unico
	Range          Distancia
	Desc           Torna mais resistente os equipamentos que o alvo veste.
    FlavorText    A força selvagem e guerreira dos antepassados é invocada, adensando o metal, fortificando suas ligas, reforçando cada fibra com a bençao elemental.

	Circle		3
	Difficulty	50
	Mana		35
	Delay		1000
	PowerWords	Shak Tak
}

############################
#### QUARTO CÍRCULO ######
############################

Spell 27
{
	SpellId		27
	Name		Cura em Area
	SpellScript	:spells:mage/massheal

	Target         Self
	Range          Distancia
	Desc           Você conjura um ritual de cura em área, favorecendo todos num range de até 5 tiles.
	Circle		5

	Difficulty	70
	Mana		45
	Delay		1000
	PowerWords	Rhumur Orkar

    FlavorText  A bênção dos antigos espíritos se espalham em ondas curativas, abraçando todos ao redor.
}

Spell 28
{
	SpellId		28
	Name		Frenesi
	SpellScript	:spells:druid/GrizzlyBear
	Circle		4

	Target         Self
	Range          Distancia
	Desc           Voce entra em um estado de furia.
    FlavorText     O eco da fúria dos tempos antigos ressoa, concedendo-lhe momentaneamente um frenesi imparável.

	Difficulty	70
	Mana		45
	Delay		2000

    PowerWords ADAR KOR DOOM
} 

Spell 29
{
	SpellId		29
	Name		Montaria das Areias
	SpellScript	:spells:mage/invocarmontariadeserto

	Target         Self
	Range          Distancia
	Desc           Invoca uma montaria
	Circle		4

	Difficulty	70
	Mana		45
	Delay		1000
	PowerWords	Xali Tar
    FlavorText  A Montaria das Areias é um testemunho da conexão entre os orcs e o Deserto da Perdição.
}

Spell 30
{
	SpellId		30
	Name		Sugar Alma
	SpellScript	:spells:mage/sugaralma

	Target         Unico
	Range          Distancia
	Desc           Você converte a mana do alvo em hp para o xamã
	Circle		4

	Difficulty	70
	Mana		45
	Delay		1000
	PowerWords	Vukhur Arok
    FlavorText  Este ritual antigo, muitas vezes reservado para os momentos mais desesperadores, é um testemunho do equilíbrio delicado entre a escuridão e a luz que os xamãs orcs mantêm.
}

############################
#### QUINTO CÍRCULO ######
############################

Spell 31
{
	SpellId		31
	Name		Gloria
	SpellScript	:spells:mage/gloria

	Target         Unico
	Range          Distancia
	Desc           O mago melhora consideravelmente sua habilidade de combate por algum tempo.
    FlavorText     A magnitude deste feitiço é um tributo à conexão entre o praticante e os espíritos que regem o mundo. Numa dança mortal que honra Grunntam.
	Circle		5
	Difficulty	90
	Mana		55
	Delay		1000
	PowerWords	Grak Tar Bakh
}

Spell 32
{
    SpellId        32
    Name        Terremoto
    Type        Sangria
    SpellScript    :spells:sangria/earthquake

    Target         Self
    Range          Distancia    
    Circle        5

    Desc           Causa um poderoso terremoto.
    FlavorText    Você evoca a ira dos espíritos da terra. Ela ressoa com a resposta espiritual, tremendo sob o domínio dos antigos guardiões do solo. 

    Difficulty    90
    Mana        55
    Delay        200
    Cycles        1
    PowerWords  Eorka Varr Targrum
}

Spell 33
{
	SpellId		33
	Name		Trovao
	SpellScript	:spells:mage/trovao

	Target         Unico
	Range          Distancia
	Desc           Você evoca um poderoso trovão em seu alvo.
	Circle		5

	Difficulty	90
	Mana		55
	Delay		1000
	PowerWords	Throk Dhrar Aglok
    FlavorText  A atmosfera se agita em resposta à sua chamada, e a eletricidade dança na ponta dos seus dedos. O raio desce com uma fúria indomável, atingindo o alvo com a força bruta dos elementos 
}
