##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################
Craftitem Index
{
	//Index Menus	
	Title	<center>StoneWork Selection Menu</center>
	Skill	StoneWork
	SkillID	StoneWork
	Group	Blocos
	Group	Paredes
    Group   Parede Baixa
    Group   Arcos
	Group	Pisos
	Group	Telhados
	Group   Escadas
	Group	Estatuas
	Group	Outros
}

Craftitem Blocos
{
	
	//Sub Selections	
	Item	brickstone
	Item	blocomarmore
	item	blocoarenito
	
}

Craftitem Paredes
{
	
	//Sub Selections	
	Item	fancystonewall
	Item	fancybattlement
	Item	rusticstonewall
	Item	whitemarblewall
	Item	fancywhitemarblewall
	Item	marblesandstonewall
	Item	fancymarblesandstonewall
	Item	sandstonewall
	Item	largesandstonewall
	Item	sandstonebattlement
	Item	fancysandstonewall
	Item	gemmedsandstonewall
	Item	archsandstonewall
 	Item	brickwall
	Item	largestonewall
	Item	stonewall
	Item	cavestonewall
	Item	largebattlement
	Item	fancystainedglasswind01
	Item	cavestainedglasswind01
	Item	rusticstainedglasswind01
	Item	brickstainedglasswind01

}

Craftitem Pisos
{
	
	//Sub Selections	
	Item	stonepaversL
	Item	stonepaversM
	Item	stonepaversD
	Item	flagstones
	Item	stonestep
	Item	whitemarblepaver
	Item	marblesandstonefloor
	Item	greymarblefloor
	Item	sandstonefloorlight
	Item	sandstonefloordark
	Item	sandstonepaverlight
	Item	sandstonepaverdark

}

Craftitem Telhados
{
	
	//Sub Selections	
	Item	rooftile

}

Craftitem Estatuas
{
	
	//Sub Selections	

	Item	statue1
	Item	statue2
	Item	statue3
	Item	statue4
	Item	statue5

}

Craftitem Outros
{
	
	//Sub Selections	
	Item	stonetable
	Item	stonechair
	Item	stonebench
	Item	whitemarblepillar
	Item	marblesandstonepillar
	Item	sandstonepillar
	Item	smallforge
	Item	gravestone
}

Craftitem Parede Baixa
{
	
	//Sub Selections
        Item	fancystonewallm        
	Item	fancystonewalls
	Item	fancystonewallp
	Item	whitemarblewallm
	Item	whitemarblewallp
	Item	marblesandstonewallm
	Item	marblesandstonewallp
	Item	sandstonewallm
	Item	fancysandstonewallm
	Item	sandstonewallp              
    Item	rusticstonewallm
	Item	rusticstonewallp
	Item	brickhalfwall
	Item	bricktinywall
	Item	bricksmallwall	
	Item	halflargestonewall
	Item	tinystonewall

}

Craftitem Arcos
{
	
	//Sub Selections
        Item	fancystonearch
	Item	rusticstonearch
	Item	brickarch
	Item	largestonearch
	Item	stonewallarch
	Item	cavestonearch
	Item	whitemarblearch
	Item	fancywhitemarblearch
	Item	marblesandstonearch
	Item	fancymarblesandstonearch
	Item	sandstonearch

}

Craftitem Escadas
{
	
	//Sub Selections
        Item	stonestairs
	Item	fancystairs
	Item	cavestairs
	Item	marblestair
	Item	sandstonestairc
	
}