
NPCTemplate merchant
{
	Name			<random>
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AISetting	CycleWait	i3600
	#AISetting	HearSpeech	i1
	#AISetting	ListenRange	i2
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i4

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	AIScript	ItemGiven	:merchants:pcmerchant/itemGiven
	AIScript	DblClick	:merchants:pcmerchant/dblclick

	EquipTemplate		Villager_1
}

NPCTemplate taverneiro
{
	Name			<random>
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AISetting	CycleWait	i3600
	#AISetting	HearSpeech	i1
	#AISetting	ListenRange	i2
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i4

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	AIScript	ItemGiven	:merchants:pcmerchant/itemGiven
	AIScript	DblClick	:merchants:pcmerchant/dblclick

	EquipTemplate		Villager_1
}

NPCTemplate estalagem
{
	Name			<random>
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AISetting	CycleWait	i3600
	#AISetting	HearSpeech	i1
	#AISetting	ListenRange	i2
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i3

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	AIScript	ItemGiven	:merchants:pcmerchant/itemGiven
	AIScript	DblClick	:merchants:pcmerchant/dblclickEstalagem

	EquipTemplate		Villager_1


}

NPCTemplate rumor
{
	Name			<random>
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AISetting	CycleWait	i3600
	#AISetting	HearSpeech	i1
	#AISetting	ListenRange	i2
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i3

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	AIScript	ItemGiven	:merchants:pcmerchant/itemGiven
	AIScript	DblClick	:merchants:pcmerchant/dblclickRumor

	EquipTemplate		Villager_1


}

NPCTemplate rumorAI
{
	Name			<random>
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AISetting	CycleWait	i3600
	AISetting	HearSpeech	i5
	AISetting	ListenRange	i3
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i3

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	AIScript	ItemGiven	:merchants:pcmerchant/itemGiven
	AIScript	DblClick	:merchants:pcmerchant/dblclickRumor
	AIScript	Listen		:brainAI:scripts/init/listen

	EquipTemplate		Villager_1


}

NPCTemplate rumorAIRepro
{
	Name			<random>
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AISetting	CycleWait	i3600
	AISetting	HearSpeech	i5
	AISetting	ListenRange	i3
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i3

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	AIScript	ItemGiven	:merchants:pcmerchant/itemGiven
	AIScript	DblClick	:merchants:pcmerchant/dblclickRumor
	AIScript	Listen		:brainAI:scripts/init/listen

	EquipTemplate		Villager_1


}

NPCTemplate treinador
{
	Name			<random>
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AISetting	CycleWait	i3600
	#AISetting	HearSpeech	i1
	#AISetting	ListenRange	i2
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i3

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	AIScript	DblClick	:merchants:pcmerchant/trainDblClick

	EquipTemplate		Villager_1


}

NPCTemplate gemVendor
{
	Name			<random>
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AISetting	CycleWait	i3600
	#AISetting	HearSpeech	i1
	#AISetting	ListenRange	i2
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i3

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	AIScript	ItemGiven	:merchants:pcmerchant/itemGiven
	AIScript	DblClick	:merchants:pcmerchant/dblclick_gemVendor

	EquipTemplate		Villager_1


}


NPCTemplate cambio
{
	Name			<random>
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AISetting	CycleWait	i3600
	#AISetting	HearSpeech	i1
	#AISetting	ListenRange	i2
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i3

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	AIScript	DblClick	:merchants:pcmerchant/cambioDblClick

	EquipTemplate		Villager_1


}

NPCTemplate trocaskill
{
	Name			<random>
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AISetting	CycleWait	i3600
	#AISetting	HearSpeech	i1
	#AISetting	ListenRange	i2
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i3

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	AIScript	DblClick	:merchants:pcmerchant/trocaSkillDblClick

	EquipTemplate		Villager_1
}

NPCTemplate talker
{
	Name			<random>
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AreaSize	i3
	AISetting	CycleWait	i3600
	#AISetting	HearSpeech	i1
	#AISetting	ListenRange	i2
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i20

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	AIScript	DblClick	:merchants:pctalker/talkerdblclick
	AIScript	LookAround	:merchants:pctalker/talkercycle
	EquipTemplate		Villager_1
}
NPCTemplate conversation
{
	Name			<random>
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AreaSize	i3
	AISetting	CycleWait	i3600
	#AISetting	HearSpeech	i1
	#AISetting	ListenRange	i2
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i3

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	AIScript	DblClick	:merchants:pcconversation/DblClick
	EquipTemplate		Villager_1
}

NPCTemplate leila
{
	Name			Leila Cabeleleila
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AISetting	CycleWait	i3600
	#AISetting	HearSpeech	i1
	#AISetting	ListenRange	i2
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i3

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	#AIScript	ItemGiven	:merchants:pcmerchant/itemGiven
	AIScript	DblClick	:merchants:pcmerchant/dblclick_hairChanger

	EquipTemplate		Villager_1
}

NPCTemplate uosevendor
{
	Name			SE Vendor
	Script			:brainAI:brain
	ObjType			0x190
	Color			0
	TrueColor		0
	Gender			0
	AR			25
	RunSpeed		200
	Alignment		neutral
	Privs			invul
	Settings		invul
	Category		Merchant

	// Attributes
	Strength		2000
	Intelligence		2000
	Dexterity		2000

	Wrestling		2000
	Tactics			2000

	// Vitals
	HITS			2000
	MANA			2000
	STAM			2000

	// Intrinsic Weapon
	AttackSpeed		80
	AttackDamage		50d20
	AttackAttribute		Wrestling
	AttackHitScript		:combat:mainHitScript

	// Sounds
	AttackHitSound		312
	AttackMissSound		569
	DeathSound		347
	DamagedSound		346
	IdleSound		1346

	// Brain AI Settings
	AISetting	CycleWait	i3600
	#AISetting	HearSpeech	i1
	#AISetting	ListenRange	i2
	AISetting	NoSleep		i1
	AISetting	DblClickRange	i3

	// Brain AI Nerves
	AIScript	Combat		:merchants:pcmerchant/combat
	AIScript	Init		:merchants:pcmerchant/init
	AIScript	ItemGiven	:uose:merchant
	AIScript	DblClick	:uose:merchant

	EquipTemplate		Villager_1
}

NPCTemplate Banker
{
    // Primary NPC settings
    Name            Banqueiro
    Script            :brainai:brain

    ObjType            0x190
    Color            1024
    TrueColor        1024
    Gender            0
    RunSpeed        255
    AR            100
    Alignment        good
    Privs            invul
    Settings        invul
    Category        Utility

    // Attributes
    Strength        200
    Intelligence        200
    Dexterity        200
    Wrestling        500

    // Vitals
    HITS            200
    MANA            200
    STAM            200

    // Intrinsic Weapon
    AttackAttribute        Wrestling
    AttackSpeed        80
    AttackDamage        200
    AttackHitScript        :combat:mainHitScript

    // Brain AI Settings
    AISetting    CycleWait    i100
    AISetting    ListenRange    i5
    AISetting    HearSpeech    i1
    AISetting    NoSleep        i1

    // Brain AI Nerves
    AIScript    Combat        :brainAI:bundled/banker/combat
    AIScript    Init        :brainAI:bundled/banker/init
    AIScript    Listen        :brainAI:bundled/banker/listen

    // Skinning Info

    // Settings other scripts use...
    NameTemplate        Human_Male
    CProp  Equipt          sbanker

    // CProps (eww!)
    CProp    GuardKill    i1
}