# $$
#
# Purpose:
# Defines the starting locations for new clients. 
# They *must* be in this order to match the character creation screens in the UO client:
# Yew, Minoc, Britain, Moonglow, Trinsic, Magincia, Jhelom, Skara Brae, Vesper
#
# Structure:
# StartingLocation
# {
#   City(string CityName)
#   Description(string Description)
#   Coordinate(int x),(int y),(int z)
# }
#
# Explanation:
# CityName and Description	are sent to the client! No larger than 30 characters please.
# x,y,z is where the character will be placed after created.
# You could set all the locations to the same coordinate to force players to start in one town.


StartingLocation Sisai
{
	City		Sisai
	Description	Sisai
	Coordinate	4230,38,1
}

