##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################

Craftitem Index
{
    Title   <center>Menu de Alquimia</center>
    Skill   Alchemy
    SkillID Alchemy
	Group	Restaurativos
	Group	Aprimoramento
	Group	Toxicos
	Group	Explosivos
	Group	Tintas
	Group	Diversos
}

CraftItem Restaurativos
{
	Item pocaocuraleve
	Item pocaocuramedia
	Recipe pocaocuragrave
	Recipe elixir
	Item antidoto
	Item antidotomedio
	Recipe antidotoforte
	Item pocaovigor
	Recipe pocaovigorforte
	Item pocaomana
	Item pocaomanamedia
	Recipe pocaomanaforte
}

CraftItem Aprimoramento
{
	Item pocaoagilidadefelina
	Recipe pocaoagilidadefelinaforte
	Item pocaoforcatouro
	Recipe pocaoforcatouroforte
	Item pocaointeligencia
	Recipe pocaointeligenciaforte
	Item pocaovisaonoturna
	Recipe pocaodavelocidade
	Recipe pocaoinvisibilidadeforte
	Recipe pocaoinvisibilidadepermanente
}

Craftitem Toxicos
{
	Item pocaovenenoervafraco
	Item pocaovenenoerva
	Recipe pocaovenenoervaforte
	Recipe pocaovenenoescorpiao
	Recipe pocaovenenowyvern
	Item pocaovenenoputrido
	Recipe pocaovenenocobra
	Recipe pocaovenenoaranha
	Recipe pocaovenenoliche
    Item gasvenenofraco
	Recipe gasvenenomedio
	Recipe gasvenenoforte
	Recipe gasdosono
    Recipe gasalucinogeno
}

Craftitem Explosivos
{
	Item FogoGregoLeve
	Recipe FogoGregoMedio
	Recipe FogoGregoForte
	Recipe MinaTerrestre
	Item pocaoflamejantefraca
	Recipe pocaoflamejantemedia
	Recipe pocaoflamejanteforte
}

Craftitem Tintas
{
	Item tinta vermelha
	Item tinta vermelha claro
	Recipe tinta vermelha clarinha
	Item tinta verde
	Item tinta verde claro
	Recipe tinta verde clarinho
	Item tinta marrom
	Item tinta marrom claro
	Recipe tinta marrom clarinho
	Item tinta bege
	Item tinta bege claro
	Recipe tinta bege clarinho
	Item tinta azul
	Item tinta azul claro
	Recipe tinta azul claro clarinha
	Item tinta preta
	Item tinta preta claro
	Recipe tinta preta clarinho
	Item tinta azul nova
	Recipe tinta azul nova clara
	Recipe tinta azul nova clarinha
	Item tinta verde nova
	Recipe tinta verde nova claro 
	Recipe tinta verde nova clarinha
	Item tinta amarela nova
	Recipe tinta amarela clara
	Recipe tinta amarela clarinha
	Item tinta laranja
	Recipe tinta laranja claro
	Recipe tinta laranja clarinho
	Item tinta rosa
	Recipe tinta rosa claro
	Recipe tinta rosa clarinho
	Recipe tinta azul escuro
	Recipe tinta cinza escuro
	Recipe  tinta verde escuro
	Recipe tinta vermelho escuro
	Recipe tinta marrom barroso
	Recipe tinta verde pantano
	Recipe tinta verde musgo pantano
    Item tinta prata
	Recipe tinta marrom thuriao
	Recipe tinta marrom numajene
	Recipe tinta verde numajene 
	Recipe tinta preta metalica
	Recipe tinta verde musgo metalico
	Recipe tinta purpura das profundezas
	Recipe tinta azul das profundezas
	Recipe tinta rosa das profundezas
	Recipe tinta ciano das profundezas
	Recipe tinta laranja das profundezas
	Recipe tinta vermelho das profundezas
	Recipe tinta verde das profundezas
	Recipe tinta dourada
	Recipe tinta azul metal
	Recipe tinta azul lunar
	Recipe tinta azul penumbra 
	Recipe tinta para cabelo
	
}

Craftitem Diversos
{
	Item podavisao
    Item podavisaomedio
    Recipe podavisaomaior
	Recipe bafodedragao
	Recipe formulanoventa
	Recipe Frascodeacido
	Recipe pocaodecola
	Item solvente
	Item alchemybook
}

