# Arquivo de recipes do epic! conforme solicitado pelo Igor no dia 24/08/2024 e montado a partir dos menus de craft pelo Dandanilo no dia 24/08/2024.

########################################
############## METALWORK ###############
########################################

############## Armaduras ###############

# Ringmail
## Baduran
recipes RingmailGloves
{
    name Luvas de cota de aneis
    level 3
    text Armadura feita por pequenos aneis metalicos, fixados sobre uma base de couro. Devido ao numero de aneis, eles formam uma eficiente barreira, mas diferentemente da cota de malha, os aneis metalicos nao sao ligados entre si, garantindo assim uma maior mobilidade e flexibilidade.
}

recipes RingmailLeggings
{
    name Calça de cota de aneis
    level 3
    text Armadura feita por pequenos aneis metalicos, fixados sobre uma base de couro. Devido ao numero de aneis, eles formam uma eficiente barreira, mas diferentemente da cota de malha, os aneis metalicos nao sao ligados entre si, garantindo assim uma maior mobilidade e flexibilidade.
}

recipes RingmailSleeves
{
    name Bracadeira de cota de anéis
    level 3
    text Bracadeiras feitas com aneis de metal cuidadosamente ligados uns aos outros. Oferece proteção razoavel.
}

recipes RingmailTunic
{
    name Tunica de cota de aneis
    level 3
    text Armadura feita por pequenos aneis metalicos, fixados sobre uma base de couro. Devido ao numero de aneis, eles formam uma eficiente barreira, mas diferentemente da cota de malha, os aneis metalicos nao sao ligados entre si, garantindo assim uma maior mobilidade e flexibilidade.
}

recipes RingmailBreastplate
{
    name Busto de malha de aneis
    level 3
    text Armadura feita por pequenos aneis metalicos, fixados sobre uma base de couro. Devido ao numero de aneis, eles formam uma eficiente barreira, mas diferentemente da cota de malha, os aneis metalicos nao sao ligados entre si, garantindo assim uma maior mobilidade e flexibilidade.
}

recipes RingmailNeck
{
    name Pescoceira de malha de aneis
    level 3
    text Armadura feita por pequenos aneis metalicos, fixados sobre uma base de couro. Devido ao numero de aneis, eles formam uma eficiente barreira, mas diferentemente da cota de malha, os aneis metalicos nao sao ligados entre si, garantindo assim uma maior mobilidade e flexibilidade.
}

recipes RingmailHelm
{
    name Elmo de malha de aneis
    level 3
    text Armadura feita por pequenos aneis metalicos, fixados sobre uma base de couro. Devido ao numero de aneis, eles formam uma eficiente barreira, mas diferentemente da cota de malha, os aneis metalicos nao sao ligados entre si, garantindo assim uma maior mobilidade e flexibilidade.
}

recipes RingmailKilt
{
    name Saiote de malha de aneis
    level 3
    text Armadura feita por pequenos aneis metalicos, fixados sobre uma base de couro. Devido ao numero de aneis, eles formam uma eficiente barreira, mas diferentemente da cota de malha, os aneis metalicos nao sao ligados entre si, garantindo assim uma maior mobilidade e flexibilidade.
}

## Aiglana (escalas)
recipes bustoescalas
{
    name Busto de lorica squamata
    level 3
    text Busto forjado a partir de antiga tecnica escalas de confeccao de armaduras. Muito resistente.
}

recipes bracadeiraescalas
{
    name Bracadeiras de lorica squamata
    level 3
    text Bracadeiras forjadas a partir de antiga tecnica escalas de confeccao de armaduras. Muito resistente.
}

recipes pernasescala
{
    name Perneiras de lorica squamata
    level 3
    text Perneiras forjadas a partir de antiga tecnica escalas de confeccao de armaduras. Muito resistente.
}

recipes luvasescalas
{
    name Luvas de lorica squamata
    level 3
    text Luvas forjadas a partir de antiga tecnica escalas de confeccao de armaduras. Muito resistente.
}

recipes pescoceiraescalas
{
    name Gorjal de Lorica Squamata
    level 3
    text Gorjal forjado a partir de antiga tecnica escalas de confeccao de armaduras. Muito resistente.
}

# Chainmail
## Bjorska
recipes ChainmailCoif
{
    name Elmo de cota de malha
    level 4
    text Armadura formada por varios aneis de metais interconectados. Protege principalmente de golpes cortantes, mas nao defende bem contra ataquers perfurantes. Em todo caso e uma armadura boa, porem pesada. O couro e necessario para evitar a friccao do metal com a carne, principalmente nos ombros e cotovelo.
}

recipes ChainmailLeggings
{
    name Calca de cota de malha
    level 4
    text text Armadura formada por varios aneis de metais interconectados. Protege principalmente de golpes cortantes, mas nao defende bem contra ataquers perfurantes. Em todo caso e uma armadura boa, porem pesada. O couro e necessario para evitar a friccao do metal com a carne, principalmente nos ombros e cotovelo.
}

recipes ChainmailTunic
{
    name Tunica de cota de malha
    level 4
    text Armadura formada por varios aneis de metais interconectados. Protege principalmente de golpes cortantes, mas nao defende bem contra ataquers perfurantes. Em todo caso e uma armadura boa, porem pesada. O couro e necessario para evitar a friccao do metal com a carne, principalmente nos ombros e cotovelo.
}

recipes bustodemalhalongo
{
    name Busto de malha longo
    level 4
    text Armadura formada por varios aneis de metais interconectados. Essa armadura é montado sobre uma armadura de couro convencional, em uma técnica pouco usual, o que lhe confere resistência suplementar.
}

recipes elmodemalhabjorska
{
    name Elmo de malha bjorska
    level 4
    text Armadura formada por varios aneis de metais interconectados. Protege principalmente de golpes cortantes, mas nao defende bem contra ataquers perfurantes. Em todo caso e uma armadura boa, porem pesada. O couro e necessario para evitar a friccao do metal com a carne, principalmente nos ombros e cotovelo.
}

recipes ChainmailArms
{
    name Bracadeiras de cota de malha
    level 4
    text Armadura formada por varios aneis de metais interconectados. Protege principalmente de golpes cortantes, mas nao defende bem contra ataquers perfurantes. Em todo caso e uma armadura boa, porem pesada. O couro e necessario para evitar a friccao do metal com a carne, principalmente nos ombros e cotovelo.
}

## Malha Alüriel
recipes elvenchaintunic
{
    name Busto de Cota de Malha Alüriel
    level 4
    text Malha de metal finamente confeccionada por Alüriel.
}

recipes elvenchainlegs
{
    name Calça de Cota de Malha Alüriel
    level 4
    text Malha de metal finamente confeccionada por Alüriel.
}

recipes elvenchainarms
{
    name Bracadeiras de Cota de Malha Alüriel
    level 4
    text Malha de metal finamente confeccionada por Alüriel.
}

## Drow Chain
recipes drowchaingorget
{
    name Gargantilha de malha drow
    level 4
    text Malha confeccionada pelos casas drow mais proliferas.
}

recipes drowchaingloves
{
    name Luvas de malha drow
    level 4
    text Malha confeccionada pelos casas drow mais proliferas.
}

recipes chaindrowsleeves
{
    name Braçadeira de malha drow
    level 4
    text Malha confeccionada pelos casas drow mais proliferas.
}

recipes chaindrowlegs
{
    name Calça de malha drow
    level 4
    text Malha confeccionada pelos casas drow mais proliferas.
}

recipes drowchaintunic
{
    name Túnica de malha drow
    level 4
    text Malha confeccionada pelos casas drow mais proliferas.
}

# Platemail
## Baduran
recipes bustogotico
{
    name Busto Baduran
    level 5
    text Armadura de elite do exercito. Esse busto confere ao usuario o melhor da metalurgia.
}

recipes bracosgotico
{
    name Ombreiras Baduran
    level 5
    text Armadura de elite do exercito. Essas ombreiras conferem ao usuario o melhor da metalurgia.ext 
}

recipes pernasgotico
{
    name Perneiras Baduran
    level 5
    text Armadura de elite do exercito. Essas perneiras conferem ao usuario o melhor da metalurgia.
}

recipes luvasgotico
{
    name Manoplas Baduran
    level 5
    text Armadura de elite do exercito. Essas luvas conferem ao usuario o melhor da metalurgia.
}

recipes pescocogotico
{
    name Gorjal Baduran
    level 5
    text Armadura de elite do exercito. Esse gorjal confere ao usuario o melhor da metalurgia.
}

## Aiglana
recipes loricasegmentata
{
    name Busto de lorica segmentata
    level 4
    text Peitoral feito por camadas de metal, proteção principal do legionario aiglano
}

recipes grevas
{
    name Grevas de lorica segmentata
    level 4
    text Caneleiras para protecao do legionario aiglano
}

recipes loricaplumata
{
    name Lorica Plumata
    level 5
    text A principio elas eram mescladas com outras armaduras para proteger melhor algumas areas, com o passar do tempo foi desenvolvida toda armadura, como elmos e luvas. A melhor protecao de metal possivel, mas sob pena de restricoes na movimentacao. Faca uma sobre medida se nao quiser que o elmo fique preso na sua cabeca e o ferreiro tire-o a marteladas.
}

## Leste
recipes bustoplacasdefibra
{
    name Tate no Uwagi
    level 5
    text Um busto de fibra de metal vindo do leste, muito resistente.
}

recipes bracosdeplacasdefibra
{
    name Tate Udeate
    level 5
    text Uma braçadeira de fibra de metal vindo do leste, muito resistente.
}

recipes pescocodeplacasdefibra
{
    name Tate no Nodowa
    level 5
    text Uma pescoçeira de fibra de metal vindo do leste, muito resistente.
}

recipes pernasdeplacasdefibra
{
    name Tate Suneate
    level 5
    text Uma perneira de fibra de metal vindo do leste, muito resistente.
}

recipes tatekabuto
{
    name Tate Kabuto
    level 5
    text Uma misteriosa parte de um conjunto de armaduras de fibra de metal vindo do leste, muito resistente.
}

# Helmets
## Bjorska
recipes NoseHelm
{
    name Elmo de Nariz
    level 3
    text Semelhante ao almo aberto, porem com uma protecao nasal, que pode ser bem util as vezes.
}

recipes BjornjarHelm
{
    name Elmo da Cavalaria Bjornjar
    level 4
    text Um elmo leve e sem protecao para o rosto, porem permite uma maior visibilidade.
}

## Gulthrak
recipes elmododragao
{
    name Elmo do Dragao
    level 5
    text Este elmo so pode ser usado pelos mais fortes. Precisa ser banhado com sangue de um dragao verdadeiro.
}

## Aiglana
recipes cassis
{
    name Cassis de Lorica Segmentata
    level 4
    text Um elmo feito com metal e couro para proteger a cabeça do legionario.
}

## Haroloth
#recipes diademachaindrow
#{
#    name Diadema de malha Drow
#    level 4
#    text Um elmo de origem drow em malha.
#}
#Esse item se encontra comentado pois não existe no blacksmithy.cfg. Quando for adicionado basta descomenta-lo que estará funcional.

#recipes diademadrow
#{
#    name Diadema Drow
#    level 
#    text Uma diadema drow. Siga estas instruções e conhecerás o que lhe espera!
#}
#Esse item se encontra comentado pois não existe no blacksmithy.cfg. Quando for adicionado basta descomenta-lo que estará funcional.

## Aluriel
recipes elvenchainhelmet
{
    name Elmo de Cota de Malha Alüriel
    level 3
    text Um elmo de cota de malha Alüriel. Esse projeto parece curioso e desafiador, algo digno de sua origem.
}

## Baduran
recipes BaduranHelm
{
    name Elmo Baduran
    level 3
    text Um elmo leve e sem protecao para o rosto, porem permite uma maior visibilidade.
}
######### Fim das Armaduras ########

############## Armas ###############

# Axes

recipes	aiglanowaraxe	
{		
	name	Machado de Guerra Aiglano
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	aiglanogladiatoraxe	
{		
	name	Machado de Gladiador Aiglano
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	aiglanobattleaxe	
{		
	name	Machado de Batalha Aiglano
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	DoubleAxe	
{		
	name	Dûnbaruk
	level	3
	text	Machado duplo, possui uma lamina cortante de cada lado e assim propicionada mais versatilidade nos golpes, porem se torna bem mais pesado.
}		
		
recipes	machadodebatalhathuria	
{		
	name	machado de batalha thuriao
	level	3
	text	Os Thurioes raramente dao valor as tradicionas espadas e agilidade comumente encontrada em Tybar. Em Thuria, os machados e bastardas sao simbolos de forca e poder. Os Skulds ainda preferem machados como este, poderosos e bem modelados.
}		
		
recipes	badurandoubleaxe	
{		
	name	Machado Duplo Baduran
	level	4
	text	Machado brutal que corta profundamente.
}		
		
recipes	baduranhandaxe	
{		
	name	Machado de Guerra Baduran
	level	4
	text	Machado brutal que corta profundamente.
}		
		
recipes	baduranwaraxe	
{		
	name	Machado de Guerra Baduran
	level	5
	text	Machado brutal que corta profundamente.
}		
recipes	baduranthrowaxe	
{		
	name	Machado de Arremesso Baduran
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	baduransteamaxe	
{		
	name	Machado a Vapor Baduran
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	badurandoubleaxes	
{		
	name	Machados Duplos Baduran
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	baduranthrowingdoubleaxe	
{		
	name	Machado Duplo de Arremesso Baduran
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	baduranthunderaxe	
{		
	name	Machado de Trovão Baduran
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	ExecutionersAxe	
{		
	name	Grishnak
	level	3
	text	Este machado e mais utilizado em exibicoes do que em batalhas, por ser dificil de ser fabricado, nao era muito comum.
}		
		
recipes	LargeBattleAxe	
{		
	name	Krûkgûl
	level	3
	text	Um enorme machado duplo, tao pesado que e utilizado para dano de esmagamento tambem. Suas laminas geralmente possuem runas ou enfeites culturais.
}		
		
recipes	gulthrakdoubleaxe	
{		
	name	Machado Duplo Gulthrak
	level	4
	text	Machado brutal que corta profundamente.
}		
		
recipes	machadosduplosthuria	
{		
	name	Machados Duplos Gulthrak
	level	5
	text	Melhor dois machados na mao, do que um voando. - Tradicional ditado Thuriao
}		
		
recipes	gulthrakexecutioneraxe	
{		
	name	Machado de Execução Gulthrak
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	gulthraklargedoubleaxe	
{		
	name	Machado Duplo Largo Gulthrak
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	gulthrakgiantaxe	
{		
	name	Machado Gigante Gulthrak
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	gulthrakdesertaxe	
{		
	name	Machado do Deserto Gulthrak
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	gulthrakwaraxe	
{		
	name	Machado de Guerra Gulthrak
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	TwoHandedAxe	
{		
	name	Machado de duas mãos
	level	3
	text	Um enorme machado duplo, tao pesado que e utilizado para dano de esmagamento tambem. Suas laminas geralmente possuem runas ou enfeites culturais.
}		
		
recipes	WarAxe	
{		
	name	Machado de Guerra
	level	3
	text	Machado feito para combate de uma mao e proporcionar o uso do escudo para defesa, para isso, ele tem que ser feito de maneira que seja bastante leve.
}		
		
recipes	bjorskadoubleaxes	
{		
	name	Machados Duplos Bjorksa
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	bjorskalargeaxe	
{		
	name	Machado Largo Bjorska
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	bjorskathrowingaxe	
{		
	name	Machado de Arremesso Bjorska
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	alurielaxe	
{		
	name	Machado Ornamentado Aluriel
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	alurielwaraxe	
{		
	name	Machado de Guerra Aluriel
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	alurielhandaxe	
{		
	name	Machado de Uma Mão Aluriel
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	harolothdoubleaxe	
{		
	name	Machado Duplo Haroloth
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	harolothexecutioneraxe	
{		
	name	Machado de Execução Haroloth
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	harolothwaraxe	
{		
	name	Machado de Guerra Har'oloth
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	lestedoubleaxes	
{		
	name	Machados Duplos do Leste
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	lestethrowingaxe	
{		
	name	Machado de Arremesso do Leste
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	lestewaraxe	
{		
	name	Machado de Guerra do Leste
	level	5
	text	Machado brutal que corta profundamente.
}		
		
recipes	lestewaraxe	
{		
	name	Machado de Guerra do Leste
	level	5
	text	Machado brutal que corta profundamente.
}		

# Blunt
