# $Id: regions.cfg 1232 2006-03-03 20:04:13Z austin $
#
#
#
# Region Data
#
# This file can be split up into multiple files, if different region
# definitions are desired.
# For example, if justice.cfg exists, it will be used for Guarded, etc
#
# Like any other region file, regions only override regions found earlier in the file.
#
# Justice Regions (justice.cfg)
#    Guarded    0/1     Is the justice region guarded?
#    EnterText  [text]  Text to display upon entry
#    LeaveText  [text]  Text to display upon exit
#
# Music Regions (music.cfg)
#    midi       [midinumber]    Music to play while in this region
#                               Can occur more than once
#                               we'll probably do some sort of midilist thing
#
# NoCast Regions (nocast.cfg)
#    nocast     0/1             1 if spells can't be cast here.
#
# era 27 mas mudei pra 9

Region  Background
{
	Range		0 0 5119 4095
    Realm		britannia
    Guarded		0
	NoCombat        0
	midi		9
}

//Adicionada a região de Memmar, é necesse cfg que o script de dia e noite vai olhar para setar
Region  Memmar
{
	Range		0 0 5119 4095
    Realm		britannia_alt
    Guarded		0
	NoCombat        0
	midi		9
}

Region Taiga
{
	Range		965 663 1964  1088
    Realm		britannia
    Guarded		0
	NoCombat       0
	EnterScript	:nature:enterCold
	LeaveScript	:nature:leaveCold
	midi
}

Region Thuria1
{
	Range		1296 38 1615 347
    Realm		britannia
    Guarded		0
	NoCombat       0
	EnterScript	:nature:enterCold
	LeaveScript	:nature:leaveCold
	midi
}

Region Thuria2
{
	Range		967 135 1297 433
    Realm		britannia
    Guarded		0
	NoCombat       0
	EnterScript	:nature:enterCold
	LeaveScript	:nature:leaveCold
	midi
}

Region Numaja
{
	Range		1916 1292 2611 1825
    Realm		britannia
    Guarded		0
	NoCombat       0
	EnterScript	:nature:enterTremor
    LeaveScript	:nature:leaveTremor
	midi	85
}

# ARRUMEI O TAMANHO DE ZHARKIA 2023
Region zharkia
{
	Range		1350 1174 1538 1468
    Realm		britannia
    Guarded		0
	NoCombat       0
	midi	11
}

Region pantanoesquecido
{
	Range		609 1685 1010 2222
    Realm		britannia
    Guarded		0
	NoCombat       0
	midi	55
}

Region florestadoscondenados
{
	Range		949 1300 1237 1698
    Realm		britannia
    Guarded		0
	NoCombat       0
	midi	52
}

# TIREI AGHAJA POR NÃO EXISTIR MAIS
//Region aghaja
//{
//	Range		1432 1399 1493 1479
  //  Realm		britannia
   // Guarded		0
	//NoCombat       0
	//midi	70
//}

Region asan1
{
	Range		394 1175 486 1253
    Realm		britannia
    Guarded		0
	NoCombat       0
	midi	12
}

Region asan2
{
	Range		401 1261 604 1637
    Realm		britannia
    Guarded		0
	NoCombat       0
	midi	77
}

Region asan3
{
	Range		504 1094 689 1310
    Realm		britannia
    Guarded		0
	NoCombat       0
	midi	77
}

Region kaljara
{
	Range		2230 2171 2328 2377
    Realm		britannia
    Guarded		0
	NoCombat       0
	midi	62
}

# REGIÃO DAS PLANICIAS COINCIDIA COM ZHARKIA
//Region planicies  
//{
//	Range		1384 1298 1639 1405
  //  Realm		britannia
   // Guarded		0
	//NoCombat       0
	//midi	16
//}

Region titans1
{
	Range		824 1096 973 1284
    Realm		britannia
    Guarded		0
	NoCombat       0
	midi	72
}

Region titans2
{
	Range		744 1164 906 1349
    Realm		britannia
    Guarded		0
	NoCombat       0
	midi	79
}

Region valedosmortos
{
	Range		640 1360 909 1696
    Realm		britannia
    Guarded		0
	NoCombat       0
	midi	44
}

Region aquil1
{
	Range		1784 1814 2331 2508
    Realm		britannia
    Guarded		0
	NoCombat    0
	EnterScript	:nature:enterDesert
    LeaveScript	:nature:leaveDesert
	midi	    74
}

Region cidadenumaja
{
	Range		2062 1282 2283 1417
    Realm		britannia
    Guarded		0
	NoCombat    0
	midi	    62
}

# ADICIONADA REGIÃO DAS MONTANHAS DOS ORCS
Region montanhadosorcs
{
	Range		1554 1097 1929 1307
    Realm		britannia
    Guarded		0
	NoCombat    0
	midi	    62
}