# $Id: regions.cfg 1232 2006-03-03 20:04:13Z austin $
#
#
#
# Region Data
#
# This file can be split up into multiple files, if different region
# definitions are desired.
# For example, if justice.cfg exists, it will be used for Guarded, etc
#
# Like any other region file, regions only override regions found earlier in the file.
#
# Justice Regions (justice.cfg)
#    Guarded    0/1     Is the justice region guarded?
#    EnterText  [text]  Text to display upon entry
#    LeaveText  [text]  Text to display upon exit
#
# Music Regions (music.cfg)
#    midi       [midinumber]    Music to play while in this region
#                               Can occur more than once
#                               we'll probably do some sort of midilist thing
#
# NoCast Regions (nocast.cfg)
#    nocast     0/1             1 if spells can't be cast here.
#
# era 27 mas mudei pra 9

Region  underdark_epic
{
	Range		0 0 5119 4095
    Realm		britannia
    Guarded		0
	NoCombat        0
}

//Adicionada a região de Memmar, é necesse cfg que o script de dia e noite vai olhar para setar
Region  superficie_epic
{
	Range		0 0 5119 4095
    Realm		britannia_alt
    Guarded		0
	NoCombat        0
}

Region nortegelado_epic
{
	Range		660 123 1856 591
    Realm		britannia_alt
    Guarded		0
	NoCombat       0
	EnterScript	:nature:enterCold
	LeaveScript	:nature:leaveCold
}

Region desertogulthrak
{
	Range		1460 1030 2154 1577
    Realm		britannia_alt
    Guarded		0
	NoCombat    0
	EnterScript	:nature:enterDesert
    LeaveScript	:nature:leaveDesert
}

Region desertoGulthrakSandstorm
{
	Range		1460 1030 2154 1577
    Realm		britannia_alt
    Guarded		0
	NoCombat    0
	EnterScript	:nature:enterSandstorm
    # LeaveScript	:nature:leaveDesert
	# midi	    74
}

# Region dgsubmersa
# {
# 	Range		1055 1232 1143 1309
#     Realm		britannia_alt
#     Guarded		0
# 	NoCombat    0
# 	EnterScript	:nature:enterUnderwater
#     LeaveScript	:nature:leaveUnderwater
# }

Region  Aigla
{
	Range		913 791 1219 1091
    Realm		britannia_alt
    Guarded		0
	NoCombat        0
}

# Cidade dos Polski
Region  Colhesol
{
	Range		895 1053 1012 1141
    Realm		britannia_alt
    Guarded		0
	NoCombat        0
}

Region  Feira
{
	Range		1030 1100 1157 1211
    Realm		britannia_alt
    Guarded		0
	NoCombat        0
}

# Cidade dos elfos
Region  Aldorathrim
{
	Range		885 1270 965 1400
    Realm		britannia_alt
    Guarded		0
	NoCombat        0
}

# Cidade dos Björske
Region  Borfjell
{
	Range		1039 696 1503 782
    Realm		britannia_alt
    Guarded		0
	NoCombat        0
}

# Cidade dos Orcs
Region  Gulshurr
{
	Range		1544 1640 1683 1761
    Realm		britannia_alt
    Guarded		0
	NoCombat        0
}

# Cidade dos Povos do Leste
Region  Kaijing
{
	Range		1349 1204 1409 1266
    Realm		britannia_alt
    Guarded		0
	NoCombat        0
}

# Cidade dos Drows
Region  Nygurath
{
	Range		1462 1421 1736 1723
    Realm		britannia
    Guarded		0
	NoCombat        0
}

# Cidade dos Anoes - Khron Kaz'ad
Region  Kazad
{
	Range		4628 1763 4742 1854
    Realm		britannia
    Guarded		0
	NoCombat        0
}

# Pântano EA -> Criar sistema pra tomar slow na água -> tiles: 0x16DA ate 0x16EF
Region  PantanoEA
{
	Range		2104 648 2216 802
    Realm		britannia
    Guarded		0
	NoCombat        0
	EnterScript	:nature:enterSwamp
    LeaveScript	:nature:leaveSwamp
	midi 9
}

# Teias de Aranha EA -> Tomar paralyze na WebSpider. tiles: 0x10B8 - 0x10D0
Region  SpiderWebs
{
	Range		2125 827 2267 982
    Realm		britannia
    Guarded		0
	NoCombat        0
	EnterScript	:nature:enterSpiderWeb
    LeaveScript	:nature:leaveSpiderWeb
	midi 5
}

# Lava EA
Region  LavaEA
{
	Range		2000 1000 2533 1090
    Realm		britannia
    Guarded		0
	NoCombat        0
	EnterScript	:nature:enterDesert
    LeaveScript	:nature:leaveDesert
	TempMod 5
	midi 18
}

#Kobold EA
Region  KoboldsEA
{
	Range		2300 909 2555 991
    Realm		britannia
    Guarded		0
	NoCombat        0
	EnterScript	:nature:enterDesert
    LeaveScript	:nature:leaveDesert
	TempMod 2
	midi 1
}

Region CampEA
{
	Range 2179 492 2360 614
	Realm  britannia
	midi 103
}

# Pântano EA -> Criar sistema pra tomar slow na água -> tiles: 0x16DA ate 0x16EF
Region  SwampBetaII
{
	Range		1263 1202 1445 1370
    Realm		britannia_alt
    Guarded		0
	NoCombat        0
	EnterScript	:nature:enterSwamp
    LeaveScript	:nature:leaveSwamp
	midi 9
}

Region dgsubmersabetaII
{
	Range		1277 1110 1416 1241
    Realm		britannia_alt
    Guarded		0
	NoCombat    0
	EnterScript	:nature:enterUnderwater
    LeaveScript	:nature:leaveUnderwater
}