##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################

Craftitem Index
{
        Title   <center>Menu de Funilaria</center>
        Skill   Tinkering
        SkillID Tinkering
	Group	Ferramentas
	Group	Utensilhos
	Group	Joalheria
	Group	Madeira
	Group   Vidro
	Group	Outros
	Group	Partes
	Group	Armadilhas
	Group	Complexos
    Group   Artilharia
}

CraftItem Armadilhas
{
	Item	armadilhadechao
	Recipe	armadilhadeurso
	Recipe	kitdearmadilha
}
CraftItem Vidro
{
	Item emptybottle
	Item beker
	Item balao
	Item emptyglass
	Item emptypitcher
	Item lantern4
	Item Lanterna Pequena de Cintura
	Recipe Lanterna Grande de Cabeca
	Recipe Lanterna Grande de Cintura
	Recipe Lanterna Furta Fogo
	Item Lanterna Pequena de Cabeca
	Item oculos
	Item Mascara Praga
	Item mascara dourada
	Item mascara funeraria

}

Craftitem Ferramentas
{
	Item	DovetailSaw
	Item	DrawKnife
	Item	Froe
	Item	Hammer
	Item	Saw
	Item	Hatchet
	Item	InShave
	Item	Lockpick
	Item	Mortar
	Item	Pickaxe
	Item	Scissors
	Item	SandScoop
	Item	SewingKit
	Item	Shovel
	Item	SledgeHammer
	Item	SmithHammer
	Item	Tongs
	Item	TinkerTools
	Item	Pregos
	Item    Fletchtools
	Item    Taxidermiatool
	Item	SmeltingPot
	Item	malletandchisel
	Item	malletandchisel2
}

Craftitem Madeira
{
	Item	Axle
	Item 	Clockframe
	Item	JointingPlane
	Item	MouldingPlane
	Item	SmoothingPlane
	Item	rollingpin

}

Craftitem Partes
{
	Item	BarrelHoops
	Item 	Gears
	Item	Hinge
	Item	Springs
	Item	BarrelTap
}

Craftitem Joalheria
{
	Item	bracelet
	Item 	earrings
	Item	roundnecklace
	Item	longnecklace
	Item	ring
	Item	circlet
	Item	circlet2
	Item	circlet3
	//Recipe braceleteprofano
	//Recipe braceletedoabismo
	//Recipe birncosdoabismo
	//Recipe colardoabismo
	Recipe amuletoasan
	Recipe coroadeus
	Recipe coroadadeusarainha
	Item Pulseira
}

Craftitem Utensilhos
{
	Item	ButcherKnife
	Item	Cleaver
	Item	SkinningKnife
	Item	PewterMug
	Item	Goblet
	Item	Forkw
	Item	Forkn
	Item	Knifew
	Item	Knifen
	Item	Spoonw
	Item	Spoonn
	Item	Plate
	Item	Kettle

	Item	tray
	Item	ShallowPot2
	Item	SmallPan
	Item	FryingPan
	Item	SmallKettle
	Item	doughbowl
}

Craftitem Outros
{
	Item	Keyring
	Item	Ironkey
#	Item	Candelabra
	Item	Globe
	Item	Scales
#	Item	Spyglass
	Item	heatingstand
	Item	mapmakerspen1
	Item	sinete
	Item	ironwire
	Item	copperwire
	Item	silverwire
	item	goldwire
	Item	projetildecanhao
	Item	pincelepaleta
}

Craftitem Complexos
{
	Item	Axleandgears
	Item 	Clock
	Item	Sextant
	Item	ClockParts
	Item	SextantParts
#	Item	PotionKeg
	Item	Fechadura
	#// Zharkiano Pistola
	Recipe  forja
	Recipe  bigorna
}

Craftitem Artilharia
{
	Item    pistol1
	Item    pistol2
	Item    handcannon
	Item    carabine
	Item    musket
    Item    ammo
}
