##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
#					ATENÇÃO - QUALQUER ALTERAÇÃO/INCLUSÃO DE GROUPS deve ser adiciondada também na hab de Inventario!!! 
#										Incluir ou deletar recipe não precisa, só groups!
#
#			CUIDADO ao adicionar itens nos groups, eles estão divididos para a hab de Inventario funcionar corretamente da seguinte forma:
# * Groups Hats, Shirts, Pants e Miscellaneous -> itens de TECIDO com recipes de TECIDO!;
# * Groups Footwear, StuddedArmor, Gibao de Peles, Armadura de Ossos e Armaduras Especiais -> itens de COURO com recipes de COURO;
##########################################################################

Craftitem Index
{
	Title   <center>Menu de Alfaiates</center>
	Skill   Tailoring
	SkillID Tailoring 
		
	Group	Hats
	Group	Shirts
	Group	Pants
	Group	Miscellaneous
	Group	Footwear
	Group	LeatherArmor
	Group	StuddedArmor
	Group	Gibao de Peles
	Group	Armaduras de Ossos
	Group	Armaduras Especiais
	
}

Craftitem Armaduras especiais
{
	# Gulthrak
	Item	Recipe Gulthrak peitoraldequitina
	Item	Recipe Gulthrak calcasdequitina
	Item	Recipe Gulthrak bracadeirasdequitina
	Item	Recipe Gulthrak luvasdequitina
	Item	Recipe Gulthrak pescoceiradequitina
	Item	Recipe Gulthrak elmodequitina
}

Craftitem Gibao de Peles
{
	Item	rangertunic
	Item	Recipe rangerleggings
	Item	Recipe rangergloves
	Item	Recipe rangergorget
	Item	Recipe rangersleeves
	#Item RangerTunicFemale -> Esse item não existe nos arquivos, tem que ver qual é porque tem vários Female
}

Craftitem Hats
{
	Item	Skullcap
	Item	Bandana
	Item	FloppyHat
	Item	WideBrimHat
	Item	StrawHat
	Item	TallStrawHat
	Item	WizardHat
	Item	Bonnet
	Item	FeatheredHat
	Item	TricorneHat
	Item	JesterHat
	Item	Hood
	Item	Recipe bandanarosto
	Item	capuz
	Item	Recipe capuzSabio
	Item	Recipe capuzNobre
	Item	wolfmask 
	Item	Recipe chapeuPele
	Item	Recipe panthermask 
	Item	Recipe deermask 
	Item	Recipe bearmask 
	Item	Recipe PolarBearMask
	Item	Recipe Ombreira de Urso
	Item	Recipe Ombreira de Pele
	Item	Ombreira Peluda
	Item	Lenco Simples
	Item	Recipe Gola Nobre com Babado
	Item	Cartola
	Item	Quepe Militar
	Item	Chapeu Aventureiro
	Item	Mascara do Corvo
	Item	Mascara do Pantano
	Item	Mascara Festiva
	Item	mascara de baile
	Item	mascara de baile da rainha
	Item	mascara da harpia
	Item	mascara da aranha
	Item	mascara da senhora da floresta
	Item	mascara de olho
	Item	mascara de ossos	
}


Craftitem Shirts
{
	Item 		Doublet
	Item 		Shirt
	Item 		CamisaSimples
	Item 		FancyShirt
	Item 		CamisaModerna
	Item 		VestidoEnfeitado
	Item 		VestidoSimples
	Item 		Recipe VestidoNobre
	Item 		Recipe VestidodeFesta
	Item 		Recipe vestidoReal
	Item 		PlainDress
	Item 		FancyDress
	Item 		Tunic
	Item 		TunicaSimples
	Item 		Surcoat
	Item 		Recipe TunicaNobre
	Item 		Recipe TunicaModerna
	Item 		Recipe tabardoNobre
	Item 		Cloak
	Item 		CapaNobre
	Item		CapaPeles
	Item 		Robe
	Item 		JesterSuit
	Item 		CheckeredShirt
	Item 		CamisaNobre
	Item		CamisaFina
	//Item 		EspartilhoSimples nao to achando a animacao certa
	Item 		EspartilhoNobre
	Item		Recipe golaNobre
	Item		Recipe Jaqueta
	Item		Recipe Jaqueta de Peles
	Item 		coleteAberto
	Item 		mantoSabios
	Item		mantodoacolito
	Item 		mantonobre
	Item		mantoCerimonial
	Item 		mantoAdornado
	Item 		mantoAdornadoFeminino
	Item 		mantoLady
	Item		Recipe mantoEnfeitado

	Item		Recipe Aiglana mantotribunal
	Item		Recipe Aiglana mantoaugur
	Item		Recipe Aiglana mantomagus

	Item		Recipe Leste mantokai

	Item		Recipe Aiglana vestidoaiglano
	Item		Recipe Aiglana vestidonobreaiglano
	
	Item		gargantilha
	Item		Recipe sobretudovanm
	Item		Recipe sobretudovanf
	Item 		trajereligioso
	Item		Recipe mantodeaquil 
	Item		Recipe mantodadescobertavaniria 
	Item		Recipe meiacapa 
	Item		Recipe mantoaventureiro

	Item		Recipe Aluriel vestidoaluriel
	Item		Recipe Aluriel vestidoaluriel2
	Item		Recipe Aluriel vestidoaluriel3
	Item		Recipe Aluriel vestidoaluriel4
	
  	Item 		Blusa feminina justa
 	Item		Recipe tunicalobo
	Item		Recipe tunicazharkia
	Item		Recipe tunicaclero
	Item		Recipe tunicamercenario
	Item		Corselete
	Item		Camisa Manga Bufante
	Item	 	Sobretudo Militar 
	Item		Sobretudo de Peles
	//Item 		TunicaGala não tem o item
}

Craftitem Pants
{
	Item 		Skirt
	Item 		SaiaImprovisada
	Item 		SaiaLonga
	Item 		Kilt
	Item 		ShortPants
	Item 		LongPants
	Item 		saioteRodado
	Item 		calcasLargas
	Item		Recipe calcasFinas
	Item		Recipe calcasNobres
	Item		kiltGuerreiro
	Item		Recipe kiltEnfeitado
	Item		Recipe kiltNobre
	Item 		Calcinhaesutia
	Item		corpete
	Item		Recipe cropedecalcinha
	Item		Recipe cintaliga
	Item        tanga
	Item		Recipe Roupa Intima
	Item		meia calca
}

Craftitem Miscellaneous
{

	Item 		cinto
	Item 		BodySash
	Item 		HalfApron
	Item 		FullApron
	Item		Avental do Trabalhador
	Item		Recipe Avental do Funcionario
	Item		Avental Pobre
	Item		Avental de Cintura
	Item		Recipe Avental de Cintura Longo
	Item 		aljavapequena
	Item 		Backpack
	Item 		Bag
	Item 		Rope
	Item 		Pouch
	Item 		book3
	Item 		book1
	Item 		book2
	Item		livrodepesquisa
	Item 		carta
	Item 		tela
	Item 		papelpautado
	Item 		fishingnet
	Item		tapeteazul
	Item		Recipe tapeteazulfino
	Item		tapetevermelho
	Item		tapeteamarelo
	Item		Recipe tapetevermelhofino
	Item		Recipe tapetecontornofino
	Item		bedroll1
	Item 		bainhaMaca
	Item 		bainhaEspada
	Item 		bainhaAdaga
	Item 		bainhaMachado
	Item      bainhaHaste
	Item 		aljava 
	Item		Recipe aljavacintura 
	Item 		Cinto do Sabio
	Item		Bolsa de Polvora
	Item		Buque de Flores
	Item		Buque de Flores Ornamentais


}

Craftitem Footwear
{
	Item		Sandals
	Item		Recipe Aiglana Caligae
	Item		Shoes
	Item		Boots
	Item		ThighBoots
	Item		botasalto
	#Item		botaselficas -> Falta criar esse item no itemdesc.cfg 
	Item 		SandáliaCamponesa
	Item		Recipe botasacolchoadas
	Item		Recipe botasdeinverno
	Item		Recipe SandáliaNobre
	Item		Recipe botasmilitar 
	Item		Recipe sapatosNobres
	Item		Recipe Baduran RingmailBoots
	Item		bota longa couro
	Item		bota de peles
	Item		bota cano alto
	Item		bota de couro baixa
	Item		bota peluda
	Item		Haroloth botavalsharess
}

Craftitem LeatherArmor
{
	## Polkinea

	Item		Recipe Polkinea LeatherGorget
	Item		Recipe Polkinea LeatherSleeves
	Item		Recipe Polkinea LeatherGloves
	Item		Recipe Polkinea LeatherCap
	Item		Recipe Polkinea LeatherLeggings
	Item		Recipe Polkinea LeatherTunic

	## Leste
	
	Item		Recipe Leste bustodefibras
	Item		Recipe Leste pernasdefibras
	Item		Recipe Leste bracosdefibras
	Item		Recipe Leste pescocodefibras
	Item		Recipe Leste leatherkabuto
	Item		Recipe Leste calcasOrientais

	## Haroloth
	Item		Recipe Haroloth valsharessbusto
	Item		Recipe Haroloth saiavalsharess
	Item		Recipe Haroloth bracovalsharess
}


Craftitem StuddedArmor
{
	Item		StuddedGorget
	Item		StuddedGloves
	Item		StuddedSleeves
	Item		StuddedLeggings
	Item		StuddedTunic


	# Recipe luvasdosmagos

	## Leste
	Item		Recipe Leste bustodefibrasreforcado
	Item		Recipe Leste bracosdefibrasreforcado
	Item		Recipe Leste pernasdefibrasreforcado
	Item		Recipe Leste pescocodefibrasreforcado
	Item		Recipe Leste hoshikawakabuto

	## Haroloth
	Item		Haroloth leatherdrowgorget
	Item		Haroloth leatherdrowsleeves
	Item		Haroloth leatherdrowgloves
	Item		Haroloth leatherdrowlegs
	Item		Haroloth leatherdrowtunic

	## Bjorska
	Item		Recipe Bjorska armaduracourocacador
}

Craftitem Armaduras de Ossos
{
	## Gulthrak
	Item		Recipe Gulthrak bracadeirasdeossos
	Item		Recipe Gulthrak tunicadeossos
	Item		Recipe Gulthrak luvasdeossos
	Item		Recipe Gulthrak capacetedeossos
	Item		Recipe Gulthrak calcadeossos

		## Dragon
	Item		Recipe Gulthrak DragonBreastplate
	Item		Recipe Gulthrak DragonArms
	Item		Recipe Gulthrak DragonLegs
	Item		Recipe Gulthrak DragonGloves

	## General
	Item		elmodeossoscomchifre
	Item		mascararitualistica 
	Item		mascaradograndecervo
}



